<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibraryForRegisterDB.Properties.Settings.RegistrationConnectionString"
            connectionString="Data Source=DMNLANUNAG;Initial Catalog=Registration;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>